:root {
  --code-hl-error-bg-color: rgb(244 63 94 / 16%);
  --code-hl-warning-bg-color: rgb(255 193 7 / 16%);
}

// ------------ code notation highlighting ------------
// matches `<span class="line xxxx" ></span>`
// highlight lines and notation error level
// covering the background color with 'warning' and 'error' classes.
// - `// [\!code warning]`
// - `// [\!code error]`
// - `// [\!code warning:3]`
// - `// [\!code error:3]`
div[class*='language-'] .line.highlighted {
  display: inline-block;

  width: 100%;
  margin: 0 calc(-1 * var(--code-padding-x));
  padding: 0 var(--code-padding-x);

  transition: background-color 0.5s;

  &.error {
    background-color: var(--code-hl-error-bg-color);
  }

  &.warning {
    background-color: var(--code-hl-warning-bg-color);
  }
}
