@import '../variables';

// code block additional styles
div[class*='language-'] {
  margin: 0.75rem 0;
  transition:
    background-color var(--t-color),
    color var(--t-color);

  @media (max-width: $MQMobileNarrow) {
    --code-border-radius: 0;

    margin: 0.75rem -1.5rem;
  }

  // transitions for code notation highlighting
  .line {
    &.diff,
    &.highlighted {
      transition: background-color var(--t-color);
    }
  }
}
