@import '../variables';

.theme-default-content {
  div[class*='language-'] {
    transition:
      background-color var(--t-color),
      color var(--t-color);

    // narrow mobile
    @media (max-width: $MQMobileNarrow) {
      margin: 0.85rem calc(-1 * var(--content-padding-x));
      border-radius: 0;
    }
  }

  pre,
  pre[class*='language-'] {
    margin: 0.85rem 0;
    transition:
      background-color var(--t-color),
      color var(--t-color);
  }
}

// ------- notation -------
div[class*='language-'] .line.highlighted {
  transition: background-color var(--t-color);
}
