@import './vars.css';

.fade-in {
  &-enter-active,
  &-leave-active {
    transition: all var(--transition-duration) var(--transition-ease-in-out) !important;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0 !important;
  }

  &-leave-from,
  &-enter-to {
    opacity: 1;
  }
}
