@use 'vars';

:root {
  --transition-fade-in-up-offset: 10px;
}

.fade-in-up {
  &-enter-from,
  &-leave-to {
    opacity: 0 !important;
    transform: translateY(var(--transition-fade-in-up-offset)) !important;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateY(0) !important;
  }

  &-leave-active {
    transition:
      opacity var(--transition-leave-duration) var(--transition-ease-in-out),
      transform var(--transition-leave-duration) var(--transition-ease-in-out) !important;
  }

  &-enter-active {
    transition:
      opacity var(--transition-enter-duration) var(--transition-ease-in-out),
      transform var(--transition-enter-duration) var(--transition-ease-in-out) !important;
  }
}
