@import './vars.css';

:root {
  --transition-slide-in-down-offset: -100%;
}

.slide-in-down {
  &-leave-active {
    transition: transform var(--transition-leave-duration)
      var(--transition-ease-in);
  }

  &-enter-active {
    transition: transform var(--transition-enter-duration)
      var(--transition-ease-out);
  }

  &-enter-to,
  &-leave-from {
    transform: translateY(0);
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(var(--transition-slide-in-down-offset));
  }
}
