/* stylelint-disable scss/dollar-variable-pattern */
$color: #f00 !default;
$snake_color: #f00 !default;
$kebab-color: #f00 !default;
$PascalColor: #f00 !default;
$length: 1rem !default;
$complex: '1s ease' !default;
