name: e2e

on:
  push:
    paths-ignore:
      - docs/
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  e2e:
    strategy:
      fail-fast: false
      matrix:
        bundler:
          - vite
          - webpack
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install playwright chromium
        working-directory: ./e2e
        run: pnpm playwright install chromium

      - name: Build source files
        run: pnpm bundle

      - name: E2E test (base /)
        run: pnpm test:e2e
        env:
          E2E_BASE: /
          E2E_BUNDLER: ${{ matrix.bundler }}

      - name: E2E test (base /e2e/)
        run: pnpm test:e2e
        env:
          E2E_BASE: /e2e/
          E2E_BUNDLER: ${{ matrix.bundler }}

  e2e-os:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - macos-latest
        bundler:
          - vite
          - webpack

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install playwright chromium
        working-directory: ./e2e
        run: pnpm playwright install chromium

      - name: Build source files
        run: pnpm build

      - name: E2E test (base /)
        run: pnpm test:e2e
        env:
          E2E_BASE: /
          E2E_BUNDLER: ${{ matrix.bundler }}

      - name: E2E test (base /e2e/)
        run: pnpm test:e2e
        env:
          E2E_BASE: /e2e/
          E2E_BUNDLER: ${{ matrix.bundler }}

  e2e-node:
    strategy:
      fail-fast: false
      matrix:
        node:
          - 20
          - 22
        bundler:
          - vite
          - webpack

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install playwright chromium
        working-directory: ./e2e
        run: pnpm playwright install chromium

      - name: Build source files
        run: pnpm build

      - name: E2E test (base /)
        run: pnpm test:e2e
        env:
          E2E_BASE: /
          E2E_BUNDLER: ${{ matrix.bundler }}

      - name: E2E test (base /e2e/)
        run: pnpm test:e2e
        env:
          E2E_BASE: /e2e/
          E2E_BUNDLER: ${{ matrix.bundler }}

  e2e-result:
    if: ${{ !cancelled() }}
    name: e2e result
    runs-on: ubuntu-latest
    needs:
      - e2e
      - e2e-os
      - e2e-node
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1
