@use 'variables' as *;

@mixin content-wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: $MQNarrow) {
    // FIXME: Issue in stylelint-scss: https://github.com/stylelint-scss/stylelint-scss/issues/1189
    /* stylelint-disable-next-line no-invalid-position-declaration */
    padding: 2rem;
  }

  @media (max-width: $MQMobileNarrow) {
    // FIXME: Issue in stylelint-scss: https://github.com/stylelint-scss/stylelint-scss/issues/1189
    /* stylelint-disable-next-line no-invalid-position-declaration */
    padding: 1.5rem;
  }
}

@mixin dropdown-wrapper {
  overflow: hidden;
  transition: height 0.1s ease-out;
}
