/* stylelint-disable-next-line scss/load-partial-extension */
@use '@vuepress/helper/scss/svg.scss';

$arrow-icon: '<svg viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></svg>';
$dark-arrow-icon: '<svg viewBox="0 0 24 24"><path fill="rgba(255,255,255,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></svg>';

.arrow {
  @include svg.background-svg($arrow-icon);

  display: inline-block;
  vertical-align: middle;

  width: 1em;
  height: 1em;

  background-position: center;
  background-repeat: no-repeat;

  line-height: normal;

  transition: all 0.3s;

  [data-theme='dark'] & {
    @include svg.background-svg($dark-arrow-icon);
  }

  &.down {
    transform: rotate(180deg);
  }

  &.right {
    transform: rotate(90deg);

    [dir='rtl'] & {
      transform: rotate(-90deg);
    }
  }

  &.left {
    transform: rotate(-90deg);

    [dir='rtl'] & {
      transform: rotate(90deg);
    }
  }
}
