@import '_variables';

// the original font-size is 14px, 1.7 will make line-height be 23.8px
$line-height: 1.7;

pre[class*='language-'] {
  font-family: var(--font-family-code);
  font-size: 1em;
  line-height: 1.5;

  margin: 0.5em 0;
  overflow: auto;
}

// ===============================
// Forked and modified from prismjs/themes/prism-tomorrow.css

pre[class*='language-'] {
  color: #ccc;
  background: #2d2d2d;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #ec5975;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #3eaf7c;
}

// ===============================

.theme-default-content {
  pre,
  pre[class*='language-'] {
    line-height: $line-height;
    margin: 0.85rem 0;
    border-radius: 6px;
    overflow: auto;

    code {
      box-sizing: border-box;
      color: #fff;
      padding: 1.3rem 1.5rem;
      display: block;
      width: fit-content;
      min-width: 100%;
      background-color: transparent !important;
      border-radius: 0;
      overflow-wrap: unset;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  .line-number {
    font-family: var(--font-family-code);
  }
}

div[class*='language-'] {
  position: relative;
  background-color: var(--code-bg-color);
  border-radius: 6px;

  &::before {
    content: attr(data-title);
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
    color: var(--code-ln-color);
  }

  pre,
  pre[class*='language-'] {
    // force override the background color to be compatible with shiki
    background: transparent !important;
    position: relative;
    z-index: 1;
  }

  &:not(.line-numbers-mode) {
    .line-numbers {
      display: none;
    }
  }

  &.line-numbers-mode {
    pre {
      margin-left: var(--code-ln-wrapper-width);
      vertical-align: middle;
    }

    code {
      padding-left: 1rem;
    }

    .line-numbers {
      position: absolute;
      top: 0;
      width: var(--code-ln-wrapper-width);
      text-align: center;
      color: var(--code-ln-color);
      padding-top: 1.3rem;
      font-size: 0.875em;
      line-height: $line-height;
      counter-reset: line-number;

      .line-number {
        position: relative;
        z-index: 3;
        user-select: none;

        &::before {
          counter-increment: line-number;
          content: counter(line-number);
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: var(--code-ln-wrapper-width);
      height: 100%;
      border-radius: 6px 0 0 6px;
      border-right: 1px solid var(--code-hl-bg-color);
    }
  }
}

// ------------ plugin-shiki code highlighting ------------
div[data-highlighter='shiki'] {
  background-color: var(--shiki-light-bg, var(--code-bg-color));
  transition: background-color var(--t-color);

  .dark & {
    background-color: var(--shiki-dark-bg, var(--code-bg-color));
  }
}

.shiki span {
  color: var(--shiki-light, inherit);

  .dark & {
    color: var(--shiki-dark, inherit);
  }
}

// ------------ code notation highlighting ------------
// matches `<span class="line xxxx" ></span>`

div[class*='language-'] {
  // highlight lines and  notation highlight
  //
  // `!code highlight` and `!code hl` are the same:
  // - `// [\!code highlight]`
  // - `// [\!code hl]`
  // - `// [\!code highlight:3]`
  // - `// [\!code hl:3]`
  //
  // It also has the style of error level,
  // covering the background color with 'warning' and 'error' classes.
  // - `// [\!code warning]`
  // - `// [\!code error]`
  // - `// [\!code warning:3]`
  // - `// [\!code error:3]`
  .line.highlighted {
    background-color: var(--code-hl-bg-color);
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: 100%;
    display: inline-block;

    &.error {
      background-color: var(--code-hl-error-bg-color);
    }

    &.warning {
      background-color: var(--code-hl-warning-bg-color);
    }
  }

  // notation diff line
  //
  // - class="diff add": `// [\!code ++]` or `// [\!code ++:3]`
  // - class="diff remove":  `// [\!code --]` or `// [\!code --:3]`
  .line.diff {
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: 100%;
    display: inline-block;

    &::before {
      position: absolute;
      left: 10px;
    }

    &.remove {
      background-color: var(--code-line-diff-remove-color);
      opacity: 0.7;

      &::before {
        content: '-';
        color: var(--code-line-diff-remove-symbol-color);
      }
    }

    &.add {
      background-color: var(--code-line-diff-add-color);

      &::before {
        content: '+';
        color: var(--code-line-diff-add-symbol-color);
      }
    }
  }

  // notation focused lines
  //
  // - `// [\!code focus]`
  // - `// [\!code focus:3]`
  .has-focused-lines .line:not(.has-focus) {
    filter: blur(0.095rem);
    opacity: 0.7;
    transition:
      filter 0.35s,
      opacity 0.35s;
  }

  &:hover .has-focused-lines .line:not(.has-focus) {
    filter: blur(0);
    opacity: 1;
  }
}

// narrow mobile
@media (max-width: $MQMobileNarrow) {
  .theme-default-content {
    div[class*='language-'] {
      margin: 0.85rem -1.5rem;
      border-radius: 0;
    }
  }
}
