html,
body {
  background-color: var(--vp-c-bg);
  accent-color: var(--vp-c-accent);
  transition: background-color var(--vp-t-color);
}

[data-theme='dark'] {
  color-scheme: dark;
}

body {
  color: var(--vp-c-text);
  font-size: 1rem;
  font-family: var(--font-family);
}

h2 {
  border-color: var(--vp-c-gutter);
  transition: border-color var(--vp-t-color);
}

a {
  color: var(--vp-c-accent);
}

code {
  background-color: var(--vp-c-bg-alt);
  color: var(--vp-c-text-mute);
  font-family: var(--code-font-family);
  transition: background-color var(--vp-t-color);

  p a & {
    color: var(--vp-c-accent);
  }
}

kbd {
  border-color: var(--vp-c-border-hard);
  transition: border-color var(--vp-t-color);
}

blockquote {
  border-color: var(--vp-c-border-hard);
  color: var(--vp-c-text-mute);
  transition: border-color var(--vp-t-color);
}

hr {
  border-color: var(--vp-c-gutter);
  transition: border-color var(--vp-t-color);
}

table {
  transition: border-color var(--vp-t-color);
}

tr {
  &:nth-child(odd) {
    background-color: var(--vp-c-bg-alt);
    transition: background-color var(--vp-t-color);

    code {
      background-color: var(--vp-c-gutter);
    }
  }
}

th,
td {
  border-color: var(--vp-c-border-hard);
  transition: border-color var(--vp-t-color);
}
