html,
body {
  background-color: var(--c-bg);
  transition: background-color var(--t-color);
}

html.dark {
  color-scheme: dark;
}

body {
  color: var(--c-text);
  font-size: 1rem;
  font-family: var(--font-family);
}

h2 {
  border-color: var(--c-border);
}

a {
  color: var(--c-text-accent);
}

code {
  font-family: var(--font-family-code);
  color: var(--c-text-lighter);
  background-color: var(--c-bg-light);
  transition: background-color var(--t-color);

  p a & {
    color: var(--c-text-accent);
  }
}

kbd {
  border-color: var(--c-border-dark);
}

blockquote {
  color: var(--c-text-quote);
  border-color: var(--c-border-dark);
}

hr {
  border-color: var(--c-border);
}

table {
  transition: border-color var(--t-color);
}

tr {
  &:nth-child(odd) {
    background-color: var(--c-bg-light);
    transition: background-color var(--t-color);

    code {
      background-color: var(--c-bg-dark);
    }
  }
}

th,
td {
  border-color: var(--c-border-dark);
  transition: border-color var(--t-color);
}
