[data-theme='dark'] {
  // brand colors
  --vp-c-accent: #3dd68c;
  --vp-c-accent-bg: #3aa675;
  --vp-c-accent-hover: #349469;
  --vp-c-accent-soft: rgb(16 185 129 / 16%);

  // background colors
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;

  // text colors
  --vp-c-text: rgb(235 235 245 / 86%);
  --vp-c-text-mute: rgb(235 235 245 / 60%);
  --vp-c-text-subtle: rgb(235 235 245 / 38%);

  // border colors
  --vp-c-gutter: #000;
  --vp-c-border: #3c3f44;
  --vp-c-border-hard: #45484e;

  // shadow color
  --vp-c-shadow: rgb(0 0 0 / 30%);

  // control colors
  --vp-c-control: rgb(101 117 133 / 12%);
  --vp-c-control-hover: rgb(101 117 133 / 18%);
  --vp-c-control-disabled: #363636;
}
