[data-theme='dark'] {
  // brand colors
  --vp-c-accent: #3aa675;
  --vp-c-accent-hover: #349469;

  // background colors
  --vp-c-bg: #22272e;
  --vp-c-bg-alt: #343b44;
  --vp-c-bg-elv: #22272e;

  // text colors
  --vp-c-text: #adbac7;
  --vp-c-text-mute: rgb(235 235 245 / 60%);
  --vp-c-text-subtle: rgb(235 235 245 / 38%);

  // border colors
  --vp-c-border: #3e4c5a;
  --vp-c-gutter: #373f4c;
  --vp-c-border-hard: #405064;

  // shadow color
  --vp-c-shadow: rgb(0 0 0 / 30%);
  --vp-c-shadow-hard: #2f3841;

  // control colors
  --vp-c-control: #2d333b;
  --vp-c-control-hover: #2f3841;
  --vp-c-control-active: #333a44;
  --vp-c-control-disabled: #3e4c5a;

  // badge component colors
  --c-badge-warning: var(--c-warning);
  --c-badge-warning-text: #3c2e05;
  --c-badge-danger: var(--c-danger);
  --c-badge-danger-text: #401416;

  // plugin-docsearch
  /* stylelint-disable-next-line selector-class-pattern */
  .DocSearch {
    --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
      0 2px 2px 0 rgb(3 4 9 / 30%);
    --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
    --docsearch-footer-shadow: inset 0 1px 0 0 rgb(73 76 106 / 50%),
      0 -4px 8px 0 rgb(0 0 0 / 20%);
  }
}
