// === colors ===
:root {
  // accent colors
  --vp-c-accent: #299764;
  --vp-c-accent-bg: #3eaf7c;
  --vp-c-accent-hover: #4abf8a;
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: rgb(16 185 129 / 14%);

  // background colors
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;

  // text colors
  --vp-c-text: rgb(60 60 67);
  --vp-c-text-mute: rgb(60 60 67 / 78%);
  --vp-c-text-subtle: rgb(60 60 67 / 56%);

  // border colors
  --vp-c-gutter: #eaecef;
  --vp-c-border: #d7d9da;
  --vp-c-border-hard: #d1d4d7;

  // shadow colors
  --vp-c-shadow: rgb(0 0 0 / 15%);

  // control colors
  --vp-c-control: #f9fafb;
  --vp-c-control-hover: #f1f3f5;
  --vp-c-control-disabled: #eaeaea;

  // layout colors
  --vp-navbar-c-bg: var(--vp-c-bg);
  --vp-sidebar-c-bg: var(--vp-c-bg);

  // code group colors
  --vp-c-code-tab-title: var(--code-c-text, rgb(255 255 255 / 90%));
  --vp-c-code-tab-bg: var(--code-bg-color, var(--code-c-bg));
  --vp-c-code-tab-active: var(--vp-c-accent);

  // badge colors
  --c-badge-tip: var(--vp-c-green-soft);
  --c-badge-tip-text: var(--vp-c-green-text);
  --c-badge-warning: var(--vp-c-yellow-soft);
  --c-badge-warning-text: var(--vp-c-yellow-text);
  --c-badge-danger: var(--vp-c-red-soft);
  --c-badge-danger-text: var(--vp-c-red-text);

  // font vars
  --font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', roboto, oxygen,
    ubuntu, cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;

  // transition vars
  --vp-t-color: 0.3s ease;
  --vp-t-transform: 0.3s ease;

  // external-link-icon
  --external-link-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  --external-link-c-icon: var(--vp-c-text-mute);
}
